.content{
    width: 100vw;
    height: 88vh;
    top: 6vh;  /* header -> constant value로 변경되면 그 value로 change */
    overflow-y: scroll;
    align-items: center;
    position: relative;
}

.imageSrc{
    width: 20vw;
    height: 45vh;
    margin: 1.5rem;
}

.listTag{
    width: 100%;
    height: 100%;
    margin: 1.5rem;
    align-items: center;
}

.foodList{
    width: 85%; 
    height: 50%; 
    align-self: center;
}

.listImage{
    width: 100vw;
    height: 50vh;
    z-index: -1;
    position: relative;
}

h4.listText {
    font-size: 3rem;
    line-height: 3rem;
    margin: 1rem;
    left: 40vw;
    color: black;
    text-align: center;
    z-index: 100;
    position: absolute;

}

.fullImage{
    width: 100%;
    height: 100%;
}

.ScoreSlice{
    width: 70vw;
    height: 40vh;
    position: relative;
    align-items: center;
}

.FeedbackTextArea{
    width: 70vw;
    height: 45vh;
    align-content: center;
}

.mapImage{
    width: 100%;
    height: 100%;
}

h2 {
    font-size: 3rem;
    line-height: 3rem;
    padding-top: 0.5rem;
    margin-bottom: 1rem;
    color: black;
    text-align: center;
}

